.navup-right {
    float: right;
    padding: 40px;
    margin-left: 5px;
}

#nav {
    padding: 0px 20px;
    color: #ff5722;
    font-family: 'Roboto', sans-serif;
}
.body{
    margin: 0%;
}


h1{
    font-family: 'Bubblegum Sans', cursive;
}

h1{
    font-size: 50px;
}

/*paragraph front*/
.paragraph{
    font-family: 'Do Hyeon', sans-serif;
}

h2{
    font: size 40px;
}




p{
    color: dimgray;
}

.user-name{
    color: #ff5722;
}

.welcome{
    color: #ff5722;
}

.website{
    color: #03a9f4;
}

/*Div Added image Discription*/

.half-width{
    width: 40%;
    float: left;
    margin-left:10%;
    padding-left: 4%;

}

.half-width img{
    width:80%;
}


/* add bacground image */

.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom:150px ;
}

/* added button */

.link-button{
    text-decoration: none;
    background-image:linear-gradient(45deg,#ff5722 ,tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.card h-100 shadow{
    padding-left: 0%;
}

.col-md-12{
    width: 80%;
    float: left;
    margin-left:50%;
    padding-left: 12%;
}
.bw{
    width: 50%;
}
/*icon bar */

.icon-bar {
    
    text-align: center;
    font-size: 15px;
    
  }
  
  .icon-bar a {
    text-align: center;
    padding: 8px;
    transition: all 0.3s ease;
    color: white;
    font-size: 35px;
  }
  
  
  
  .fb {
    background: #3B5998;
    color: white;
  }
  
  .twit {
    background: #55ACEE;
    color: white;
  }
  
  .google {
    background: #dd4b39;
    color: white;
  }
  
  .linkedin {
    background: #007bb5;
    color: white;
  }
  
  .youtube {
    background: #bb0000;
    color: white;
  }

  .card-footer{
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
